
<section class="row-fluid" id="welcome">
  <div class="">
    <h2 class="pull-left">
      Welcome <span id="user">{{user.name}}</span>
    </h2>
    <div class="btn-toolbar pull-right">
          <a href="#" id="reauth" class="btn btn-mini">logout</a>
        </div>
      </div>
    </div>
  </section>
  <section class="small-text" id="controls">
      <h3 class="">
        <i class=" icon-arrow-down nudgeIcon icon-blue"></i>Activities: <small
          id="profileCount"></small>
      </h3>
      <div id="accountData" class=" well form-inline">
        <div class="row-fluid">
          <div class="accountsDiv span12">
            <select class="accounts pull-left" id="accounts"></select>
            <div class="selectLinks span3">
              <strong> Profiles:</strong> <a href="#"
                class="pad-right checklink checkall">Select All</a> <a href="#"
                class="pad-right checklink checknone">Select None</a>
            </div>
          </div>
        </div>
        <div class="row-fluid" id="profiles"></div>
      </div>
            <table class="table table-bordered">
              <caption>Issues</caption>
              <thead>
                <tr>
                  <td><strong>Summary</strong></td>
                  <td><strong>Key</strong></td>
              </thead>
              <tbody>
              <tr ng-repeat="issue in issues">
                <td>{{issue.key}}</td>
                <td><a href="#/issue/{{issue.id}}" class="thumb">{{issue.fields.summary}}</a></td>
              </tr>
            </tbody>
            </table>
  <style type="text/css">
  body {
   
  }


  </style>